body {
}



.main, .MainResenias {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin: 1% 10%;
}

.Descripcion {
    
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start; 
}

    .Descripcion ul {
        list-style: none;
        list-style-position: outside;
        margin-bottom: 3%;
    }

    .Descripcion .Promocion {
        padding: 0;
        list-style-type: none;
        color: #385239;
    }

    .Descripcion .NombreProd, .Precio{
        font-size:22px;
        font-weight:bold;
    }

.Producto {

    width: 50%;
    text-align: start;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-content:center;
}

.Detalle {
    font-size: 13px;
}

.img {
    
    width: 325px;
}

.MainResenias{
    background-color:antiquewhite;
}

.AgregarReseniaContenedor ul {
    padding: 0;
    list-style-type: none;
}



